<footer role="contentinfo">
  <hr>
  <div class="container">
    <small>© RunOurCity Foundation</small>
    <br>
    <small><a href="http://runourcity.org/en/">全城街马</a></small>
    <br>
    <br>
  </div>
</footer>